<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyumbackend.user.model.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users (user_email, user_password, user_name, user_nickname, user_phone, user_birth_date)
        VALUES (#{userEmail}, #{userPassword}, #{userName}, #{userNickname}, #{userPhone}, #{userBirthDate})
    </insert>

    <!-- 이메일 중복확인 -->
    <select id="selectExistedEmail">
        SELECT user_email
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 연락처 중복확인 -->
    <select id="selectExistedPhone">
        SELECT user_phone
        FROM users
        WHERE user_phone = #{userPhone}
    </select>

    <!-- 닉네임 중복확인 -->
    <select id="selectExistedNickname">
        SELECT user_nickname
        FROM users
        WHERE user_nickname = #{userNickname}
    </select>

    <!-- 로그인 -->
    <select id="login" resultType="User">
        SELECT user_id, user_email, user_password
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="User">
        UPDATE users
        SET user_profile_image = #{userProfileImage},
            user_nickname = #{userNickname},
            user_bio = #{userBio}
        WHERE user_id = #{userId}
    </update>

    <!-- 회원정보 삭제 -->
    <update id="deleteUser">
        UPDATE users
        SET user_status = 'DEACTIVE'
        WHERE user_id = #{userId}
    </update>

    <!-- 마이페이지 회원정보 조회 -->
    <select id="selectUser" resultType="User">
        SELECT users.user_id, users.user_email, users.user_name, users.user_nickname, users.user_phone, users.user_birth_date, users.user_profile_image, users.user_bio, users.user_created_at
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 마이페이지 활동량 조회 ('지난주 일요일'부터 현재까지) -->
    <select id="selectUserDailyActivity" resultType="java.time.LocalDate">
        SELECT activity_date
        FROM user_daily_activity
        WHERE user_id = #{userId}
    <![CDATA[
          AND activity_date >= date_trunc('week', now() - interval '1 week') - interval '1 day'
          AND activity_date <= now()
    ]]>
    ORDER BY activity_date
    </select>

    <!-- 활동량 추가 -->
    <insert id="insertUserDailyActivity" parameterType="long" useGeneratedKeys="true" keyProperty="activityId" keyColumn="activity_id">
        INSERT INTO user_daily_activity (user_id)
        VALUES (#{userId})
    </insert>

</mapper>
